body {
    background-image: url(../img/bg.png);
    color:#01898F;
}
header {
    width:100%;
    height:150px;
}
.logo {
  padding: 0 0 22px 40px;
  float: left;
  margin-left: 100px;
  font-size: 50px;
}
a {
    color: #BC9E60;
    text-decoration: none;

}
a:hover {
    color:#664C30;
}
.nav {
    text-align:right;
    padding-top: 100px;
    font-size: 20px;
    margin-right: 80px;
}
img {
  border-radius: 70px;
  box-shadow: 0 0 100px 1px black;
}
.img23 {
  border-radius: 5px;
}
footer {
  padding: 0 0 50px 40px;
  margin-left: 100px;
}
nav {
  text-align:right;
  margin-right: 80px;
  font-size: 20px;
}
.slogan {
  font-size: 30px;
  color:black;
  padding: 30px;
  display: inline-block;
}
.slogan p {
  color: #BC9E60;
}
h5 {
  margin: 0;
}
.slogan img {
  border-top:3px solid red;
}
/*================== INDEX 4  STARTS HERE ======================*/


.left_block {
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}
#map {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 60%;
  height: 340px;
  margin-left: 20px;
}
.line {
  height: 1px solid black;
}




/*================== INDEX 4  ENDS HERE ========================*/

