/*============== index page================= */

body {
    background-image: url(../img/bg.png);
    color:#01898F;
}
header {
    width:100%;
    height:150px;
}
.logo {
  padding: 20 0 22px 40px;
  float: left;
  margin-left: 100px;
  font-size: 5em;
}
.footer {
  color:#BC9E60;
  display:inline-block;
  position: relative;
  top:-45px;
  left:-50px;
}
a {
    color: #BC9E60;
    text-decoration: none;
    padding:20px;
}
a:hover {
    color:#664C30;
}
.nav {
    text-align:right;
    padding-top: 100px;
    font-size: 20px;
    margin-right: 80px;
}
.slogan img {
  border-radius: 20px;
  box-shadow: 0 0 25px 1px black;
}
footer {
  padding: 0 0 50px 40px;
  margin-left: 100px;
}
nav {
  text-align:right;
  margin-right: 80px;
  font-size: 20px;
}
.slogan {
  font-size: 30px;
  color:black;
  padding: 30px;
  display: inline-block;
}
.slogan p {
  color: #BC9E60;
}
h1 {
  margin: 0;
  font-family: 'Pinyon Script', cursive;
}
/*================== INDEX 4  STARTS HERE ======================*/


.left_block {
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}
#map {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 60%;
  height: 340px;
  margin-left: 20px;
}
.line {
  height: 1px solid black;
}
.facebook {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #888C90;
  display: inline-block;
  color: #B8C0C8;
  border-radius: 25px;
  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;
  padding: 9px;
  text-align: center;
}
.facebook:hover {
  background-color: #0A5098;
  display: inline-block;
  color: #D3DBE3;
  border-radius: 15px;
}
.twitter {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #888C90;
  display: inline-block;
  color: #B8C0C8;
  border-radius: 25px;
  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;
  padding: 9px;
  text-align: center;
}
.twitter:hover {
  background-color: #4CA4FF;
  display: inline-block;
  color: #D3DBE3;
  border-radius: 15px;
}
.google {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #888C90;
  display: inline-block;
  color: #B8C0C8;
  border-radius: 25px;
  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;
  padding: 9px;
  text-align: center;
}
.google:hover {
  background-color: #FF2C00;
  display: inline-block;
  color: #D3DBE3;
  border-radius: 15px;
}
/*================== INDEX 4  ENDS HERE ========================*/
.slogan img {
  border-top:3px solid red;
}
/*  //////////////Index1///////////////////// */ 
    .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    color:#ccebff;
    font-size: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
     }
      .container  * {
     flex: 1 100%;
     }
     .img{
      max-width: 100%;
      height: auto;
     float: right;
     padding: 10px;
     }
     .clearfix {
    overflow: auto;
    }
    .zag{
       width: 97%;
      height: 38px;
      padding: 0px 10px; 
      padding-bottom: 15px;
       border: 1px solid grey;
      background-color:  #e6f2ff;
      outline-style: double;
       outline-color: grey;
        color:#072163;
    }
     .econom{
      width: 100%;
      height: 30%;
      padding: 10px;  
     }
     .klasic{
      height: 30%;
      padding: 10px;  
      width: 100%;
     }
     .lux{
      height: 30%;
      padding: 10px;
      width: 100%;
     }

     .forma1{
      display: inline-block;
      vertical-align:top;
      width: 200px;
      height: 35px;
      border: 1px solid grey;
      background-color:  #e6f2ff;
       color:#072163;
      padding-bottom: 5px;
      margin: 27px;
       outline-style: double;
       outline-color: grey;
     }
          @media all and (min-width: 600px) {
     .econom {
     flex: 1 auto;
      }
      @media all and (min-width: 600px) {
     .klasic {
     flex: 2 auto;
      }
      @media all and (min-width: 800px) {
     .lux {
      flex: 3 auto;
       }

