/*============== index page================= */

body {
    background-image: url(../img/bg.png);
    color:#01898F;
}
header {
    width:100%;
    height:150px;
}
.logo {
  padding: 20 0 22px 40px;
  float: left;
  margin-left: 100px;
  font-size: 5em;
}
.footer {
  color:#BC9E60;
  display:inline-block;
  position: relative;
  top:-45px;
  left:-50px;
}
a {
    color: #BC9E60;
    text-decoration: none;
    padding:20px;
}
a:hover {
    color:#664C30;
}
.nav {
    text-align:right;
    padding-top: 100px;
    font-size: 20px;
    margin-right: 80px;
}
.slogan img {
  border-radius: 20px;
  box-shadow: 0 0 25px 1px black;
}
footer {
  padding: 0 0 50px 40px;
  margin-left: 100px;
}
nav {
  text-align:right;
  margin-right: 80px;
  font-size: 20px;
}
.slogan {
  font-size: 30px;
  color:black;
  padding: 30px;
  display: inline-block;
}
.slogan p {
  color: #BC9E60;
}
h1 {
  margin: 0;
  font-family: 'Pinyon Script', cursive;
}
/*====== INDEX3.HTML  STARTS HERE ======*/
* {
	box-sizing: border-box;
}
/*HEADER*/
#i3logo {
  padding: 0 0 22px 40px;
  float: left;
  margin-left: 100px;
  border-radius: 20px;
}
#i3textlogo {
    padding: 0;
}
#i3logo img, #i3logo a {
	 border-radius: 20px;
}
#i3rightl{
	float:right;
	margin-right: 150px;
	font-size: 3em;
	color: #bc9e60;
	font-family: 'Pinyon Script', cursive;
	
}
/*ASIDE*/
#i3menu {
	float: left;
	width: 20%;
	height: auto;
	margin-left: 75px;
	position: fixed;
	margin-top: 10px;
}
.i3show{
	width: 300px;
	height: 45px;
	background-color: #262A29;
	text-align: center;	
	display: block;
	border-radius: 10px;
	margin: 0 auto;
	font-size: 1em;
	font-weight: bold;
	color: #D6AA5B;
	border-color: #D6AA5B;
}
.i3show:hover {
	background-color: #D6AA5B;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),
	0 17px 50px 0 rgba(0,0,0,0.19);
	margin-left: 5px;
	color: #262A29;
	border-color: #262A29;
}
.i3show:active {
	background-color: #003366;
	color: #0d0d0d;
	font-weight: normal;
    
}
.i3lin {
	text-decoration: none;
	
}
.i3lin:hover {
	color: red;
}
/*SECTION*/
#i3sec {
	float: right;
	width: 60%;
	height: auto;
	margin-right: 110px;
	margin-top: -23px;
	margin-bottom: 100px;
	color: #cca15e;
}
#i3sec header {
	text-align: center;
	color: #D6AA5B;
	background-color: #262A29;
	border-color: #D6AA5B;
}
@media screen and (max-width: 1300px) and (min-width: 900px) {
	.i3show {
		width: 80%;
	}
}
@media screen and (max-width: 899px) {
	#i3menu {
		display: none;
	}
	#i3logo {
		visibility: hidden;
	}
	#i3rightl {
		clear: both;
		margin-top: 50px;
		margin-left: 50px;
	}
	.nav {
		display: block;
		position: absolute;
		top: 0;
	}
	.i3enter {
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
.i3enter {
	background-color: #66b3ff;
	border-radius: 10px;
	font-size: 2em;
	height: 50px;
	background-color: #262A29;
	border: 2px solid #D6AA5B;
    font-family: Verdana, sans-serif;
    clear: both;
    margin-top: 50px;
}
.i3first img {
    margin-top: 10px;
	margin-right: 15px;
	width: 300px;
	height: 150px;
	float: left;
	clear: left;
}
.i3first p {
	padding: 0 10px 0 10px;
	text-indent: 15px
}
.i3foot {
  clear: both;
}
/*====== INDEX3.HTML  ENDS HERE ======*/


/*================== INDEX 4  STARTS HERE ======================*/
.i4_body {
  background-image: none;
  background-color: #152C55
 
}

.facebook.i4_social {
    margin: 5px;
    width: 45px;
    height: 45px;
}
.twitter.i4_social {
    margin: 5px;
    width: 45px;
    height: 45px;
}
.google.i4_social {
    margin: 5px;
    width: 45px;
    height: 45px;
}

.i4_body a {
  font-family: arial,sans-serif;
  color: #D4C16A;
  
}
.i4_body a:hover {
  font-size: 1.1em;
  color: #FFEFAA;
  
}
.line {
 
 margin: 1em auto; 
 border:none; 
 height:1px; 
 background: #ccc; 
 
}
.left_block {
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
  font-family: arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #D4C16A;
}

.left_block h3 {
  font-size: 23px;
  margin-bottom: 20px;
  line-height: 120%;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#map {
  box-sizing: border-box;
  display: inline-block;
  width: 60%;
  height: 340px;
  margin-left: 20px;
  border: 2px solid grey;
  border-radius: 3px;
}


.container {
  margin-top: 20px;
}

.i4_footer {
  color: grey;
  width: 160px;
  position: relative;
  bottom: 60px;
}
.i4_footer  p {
  margin: 0;
}
/*================== INDEX 4 ENDS HERE ======================*/

.facebook {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #888C90;
  display: inline-block;
  color: #B8C0C8;
  border-radius: 25px;
  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;
  padding: 9px;
  text-align: center;
}
.facebook:hover {
  background-color: #0A5098;
  display: inline-block;
  color: #D3DBE3;
  border-radius: 15px;
}
.twitter {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #888C90;
  display: inline-block;
  color: #B8C0C8;
  border-radius: 25px;
  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;
  padding: 9px;
  text-align: center;
}
.twitter:hover {
  background-color: #4CA4FF;
  display: inline-block;
  color: #D3DBE3;
  border-radius: 15px;
}
.google {
  margin: 5px;
  width: 30px;
  height: 30px;
  background-color: #888C90;
  display: inline-block;
  color: #B8C0C8;
  border-radius: 25px;
  transition-property: background, color;
  transition-duration: .35s;
  transition-timing-function: linear;
  padding: 9px;
  text-align: center;
}
.google:hover {
  background-color: #FF2C00;
  display: inline-block;
  color: #D3DBE3;
  border-radius: 15px;
}

/*================== INDEX 4  ENDS HERE ========================*/
/*  //////////////Index1///////////////////// */ 
    .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    color:#ccebff;
    font-size: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
     }
      .container  * {
     flex: 1 100%;
     }
     .img{
      max-width: 100%;
      height: auto;
     float: right;
     padding: 10px;
     }
     .clearfix {
    overflow: auto;
    }
    .zag{
       width: 97%;
      height: 38px;
      padding: 0px 10px; 
      padding-bottom: 15px;
       border: 1px solid grey;
      background-color:  #e6f2ff;
      outline-style: double;
       outline-color: grey;
        color:#072163;
    }
     .econom{
      width: 100%;
      height: 30%;
      padding: 10px;  
     }
     .klasic{
      height: 30%;
      padding: 10px;  
      width: 100%;
     }
     .lux{
      height: 30%;
      padding: 10px;
      width: 100%;
     }

     .forma1{
      display: inline-block;
      vertical-align:top;
      width: 200px;
      height: 35px;
      border: 1px solid grey;
      background-color:  #e6f2ff;
       color:#072163;
      padding-bottom: 5px;
      margin: 27px;
       outline-style: double;
       outline-color: grey;
     }
          @media all and (min-width: 600px) {
     .econom {
     flex: 1 auto;
      }
      @media all and (min-width: 600px) {
     .klasic {
     flex: 2 auto;
      }
      @media all and (min-width: 800px) {
     .lux {
      flex: 3 auto;
       }

/*-----Volodymyr------*/


.vo_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  font-weight: bold;
  text-align: center;
}

.vo_wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.vo_section {
  text-align: left;
  width: 90%;
  height: 730px;
  margin: 0px auto;
}
body {
  padding: 2em; 
}

.vo_elements {
  padding: 1em;
  border: 1px solid #664C30; 
  border-radius: 5px;
  height: 760px;
  min-width: 400px;
  margin: 10px 0 25px 0;
  display: inline-block;
  color: blue;
  float: left;
  text-align: center;
}
#vo_art1 {
  width: 45%;
  
}
#vo_art2 {
  width: 40%;
  float: right;
}
.vo_foto img {
  width: 50%;
  height: 150px;
  float: left;
  border-radius: 5px;
}
.vo_foto {
  width: 100%;
  height: 160px;
  color: #BC9E60;
  margin: 0;
  border: 1px solid #664C30;
  padding: 5px;
  border-radius: 5px;
}
.vo_foto h5{
  margin: 10px;
}
/*---input----*/
.vo_elements form label {
  color: #BC9E60;
  font-weight: bold;
  margin: 10px 0;
}
.vo_elements form input, .vo_elements form #message, .vo_elements form select {
   font-size: 1.5em;
   text-align: center;
   margin: 10px;
   height: 35px;
   border-radius: 5px;
   background: #F0F0CF;
    background: -webkit-linear-gradient(top, #F9DFAB, #BEDEFF);
}
.vo_input {
  width: 70%;
  border-radius: 5px;
}
#day{
  width: 15%;
}
.vo_elements form #message {
  width: 80%;
  height: 7em;
  resize: none;
}
.vo_elements #book {
  width: 50%;
  height: 50px;
  margin: 10px auto; 
  float: center;
}

.vo_elements #book:hover {
  box-shadow: 0 0 40px 1px blue;
}

.vo_elements article {
  margin: 10px;
}


