body {
    background-color: #072163;
    color:#01898F;
}
header {
    width:100%;
    height:150px;
}
.logo {
  border-top: 6px solid #1F969C;
  padding: 0 0 22px 40px;
  float: left;
  margin-left: 100px;
  font-size: 50px;
}
a {
    color:#072163;
    text-decoration: none;
}
a:hover {
    color:#6E53BE;
}
.nav {
    text-align:right;
    padding-top: 100px;
    font-size: 20px;
    margin-right: 80px;
}
img {
  padding-bottom: 10px;
}
footer {
  padding: 0 0 50px 40px;
  margin-left: 100px;
}
nav {
  text-align:right;
  margin-right: 80px;
  font-size: 20px;
}
.slogan {
  font-size: 30px;
  color:#40A8AD;
  padding: 30px;
  display: inline-block;
}
h1 {
  margin: 0;
}
.slogan img {
  border-top:3px solid red;
}
/*  //////////////Index1///////////////////// */ 
    .container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    color:#ccebff;
    font-size: 18px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
     }
      .container  * {
     flex: 1 100%;
     }
     .img{
      max-width: 100%;
      height: auto;
     float: right;
     padding: 10px;
     }
     .clearfix {
    overflow: auto;
    }
    .zag{
       width: 97%;
      height: 38px;
      padding: 0px 10px; 
      padding-bottom: 15px;
       border: 1px solid grey;
      background-color:  #e6f2ff;
      outline-style: double;
       outline-color: grey;
        color:#072163;
    }
     .econom{
      width: 100%;
      height: 30%;
      padding: 10px;  
     }
     .klasic{
      height: 30%;
      padding: 10px;  
      width: 100%;
     }
     .lux{
      height: 30%;
      padding: 10px;
      width: 100%;
     }

     .forma1{
      display: inline-block;
      vertical-align:top;
      width: 200px;
      height: 35px;
      border: 1px solid grey;
      background-color:  #e6f2ff;
       color:#072163;
      padding-bottom: 5px;
      margin: 27px;
       outline-style: double;
       outline-color: grey;
     }
          @media all and (min-width: 600px) {
     .econom {
     flex: 1 auto;
      }
      @media all and (min-width: 600px) {
     .klasic {
     flex: 2 auto;
      }
      @media all and (min-width: 800px) {
     .lux {
      flex: 3 auto;
       }
